.user {

}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #333;
  align-itrems: flex-start;
}

.id {
  margin: .25rem;
  padding: .25rem;
  font-size: 5rem;
  font-weight: 700;
  border: 1px solid #999;
  background: #f8f8f8;
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 10rem;
  justify-content: center;
}

.data {
  margin: .25rem;
  padding: .25rem;
  background: #f9f9f9;
  border: 1px solid #999;
  flex-grow: 1;
}

.name {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.username {
  font-size: 1.5rem;
  margin: 0 0 .75rem;
}

.email {
  margin: 0 0 .5rem;
}

.email a {
  text-decoration: none;
  color: #b56d09;
}

.email a:hover,
.email a:active {
  text-decoration: underline;
}

.phone {
  margin: 0 0 .5rem;
}

.phone a {
  text-decoration: none;
  color: #006d0f;
}

.phone a:hover,
.phone a:active {
  text-decoration: underline;
}

.albums {
  margin: 0;
}

.albums a {
  text-decoration: none;
  color: #4815ff;
}

.albums a:hover,
.albums a:active {
  text-decoration: underline;
}
